.form-base {
  --_error-color: var(--error-color, #f2545b);
  --_text-color: var(--text-color, #cf2d7e);
  --_help-text-color: var(--help-text-color, #394047);
  --_border-color: var(--border-color, #ced4da);
  --_accent-color: var(--accent-color, #86b7fe);
}

.form-base .hs-form fieldset {
  margin-bottom: 22px;
  max-width: 100%;
}

:where(.form-base) :where(.form-columns-2,
.form-columns-3) {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
}

.form-base :is(fieldset.form-columns-2, fieldset.form-columns-3) > div.hs-form-field {
  float: none;
  width: auto;
  flex-grow: 1;
  flex-basis: 0;
}

@media (max-width: 991.98px) {
  .form-base :is(fieldset.form-columns-2, fieldset.form-columns-3) > div.hs-form-field {
    flex-basis: auto;
  }
}

.form-base .hs-form-field label {
  margin-bottom: 0.4rem;
  display: block;
}

.form-base .hs-form-field .hs-field-desc {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  font-size: 0.875em;
  color: var(--_help-text-color);
  width: 100%;
}

.form-base label .hs-form-required {
  color: var(--_error-color);
  margin-left: 2px;
}

.form-base div.hs-form-field div.input {
  margin-right: 0;
}

.form-base div.hs-form-field .input .hs-input:where(:not(input[type="checkbox"], input[type="radio"])) {
  display: block;
  width: 100%;
  padding: 0.375rem 0.5rem;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid var(--_border-color);
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-base div.hs-form-field .input select.hs-input {
  padding: 0.5rem;
}

@media (prefers-reduced-motion: reduce) {
  .form-base div.hs-form-field .input .hs-input:where(:not(input[type="checkbox"], input[type="radio"])) {
    transition: none;
  }
}
.form-base div.hs-form-field .input .hs-input.error:where(:not(input[type="checkbox"], input[type="radio"])) {
  border-color: var(--_error-color);
}

.form-base div.hs-form-field .input .hs-input:where(:not(input[type="checkbox"], input[type="radio"])):focus {
  border-color: var(--_accent-color);
  outline: 0;
  /* box-shadow: 0 0 0 0.25rem rgba(13 110 253 / 25%); */
  box-shadow: 0 0 0 0.25rem var(--_accent-color);
}

.form-base .inputs-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.form-base .hs-error-msgs .hs-error-msg {
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: var(--_error-color);
}

.form-base div.hs-form-field input.hs-input::placeholder {
  color: var(--_help-text-color);
  opacity: 0.7;
}

/* .form-base :is(ul[role="checkbox"], ul[role="radio"]) :is(.hs-form-checkbox-display,
.hs-form-booleancheckbox-display,
.hs-form-radio-display) {
  display: flex;
  gap: 0.4rem;
  margin-bottom: 0.8rem;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
}

.form-base :is(ul[role="checkbox"], ul[role="radio"]) :is(.hs-form-checkbox-display,
.hs-form-booleancheckbox-display,
.hs-form-radio-display) :is(input[type="radio"], input[type="checkbox"]) {
  width: 1.2em;
  height: 1.2em;
} */

.form-base .inputs-list :is(.hs-form-checkbox-display,
.hs-form-booleancheckbox-display,
.hs-form-radio-display) {
  display: flex;
  gap: 0.4rem;
  margin-bottom: 0.8rem;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
}

.form-base .inputs-list :is(.hs-form-checkbox-display,
.hs-form-booleancheckbox-display,
.hs-form-radio-display) :is(input[type="radio"], input[type="checkbox"]) {
  width: 1.2em;
  height: 1.2em;
  float: none;
}

.form-base .inputs-list :is(.hs-form-checkbox-display,
.hs-form-booleancheckbox-display,
.hs-form-radio-display) > span {
  margin: 0;
}

.form-base div.hs-form-field .input input[type=file] {
  overflow: hidden;
  padding: 0;
}

.form-base input[type=file]:not(:disabled) {
  cursor: pointer;
}

.form-base input[type=submit] {
  margin-top: 1rem;
}
