{% import '../macros/macros.css' %}

.form-default {
  {% if theme.forms.input_label.font.color %}
    --form-label-color: {{theme.forms.input_label.font.color}};
  {% endif %}
  {% if theme.forms.help_text.font.color %}
    --form-help-text-color: {{theme.forms.help_text.font.color}};
  {% endif %}
  {% if theme.forms.placeholder.font.color %}
    --form-placeholder-color: {{theme.forms.placeholder.font.color}};
  {% endif %}
  {% if theme.forms.error.font.color %}
    --form-error-color: {{theme.forms.error.font.color}};
  {% endif %}
  {% if theme.forms.focus.color.css %}
    --form-focus-color: {{theme.forms.focus.color.css}};
  {% endif %}
  {% if theme.forms.background.color.css %}
    background-color: {{theme.forms.background.color.css}};
  {% endif %}
  {% if theme.forms.border.border_radius != null %}
    border-radius: {{theme.forms.border.border_radius ~ 'px'}};
  {% endif %}
  {% if theme.forms.spacing.spacing.css %}
    {{theme.forms.spacing.spacing.css}}
  {% endif %}
  {% if theme.forms.border.border.css %}
    {{theme.forms.border.border.css}}
  {% endif %}
}

.form-default .hs-form-field label:not(.hs-error-msg) {
  {% if theme.forms.input_label.background.css %}
    background-color: {{theme.forms.input_label.background.css}};
  {% endif %}
  {% if theme.forms.input_label.font.style %}
    {{theme.forms.input_label.font.style}};
  {% endif %}
  {% if theme.forms.input_label.font.size %}
    font-size: {{theme.forms.input_label.font.size ~ 'px'}};
  {% endif %}
  {% if theme.forms.input_label.spacing.css %}
    {{theme.forms.input_label.spacing.css}}
  {% endif %}
}

.form-default .hs-form-field .hs-field-desc {
  {% if theme.forms.help_text.background.css %}
    background-color: {{theme.forms.help_text.background.css}};
  {% endif %}
  {% if theme.forms.help_text.font.style %}
    {{theme.forms.help_text.font.style}};
  {% endif %}
  {% if theme.forms.help_text.font.size %}
    font-size: {{theme.forms.help_text.font.size ~ 'px'}};
  {% endif %}
  {% if theme.forms.help_text.spacing.css %}
    {{theme.forms.help_text.spacing.css}}
  {% endif %}
}

.form-default div.hs-form-field .input .hs-input:where(:not(input[type="checkbox"], input[type="radio"])) {
  {% if theme.forms.input_field.background.css %}
    background-color: {{theme.forms.input_field.background.css}};
  {% endif %}
  {% if theme.forms.input_field.border_radius != null %}
    border-radius: {{theme.forms.input_field.border_radius ~ 'px'}};
  {% endif %}
  {% if theme.forms.input_field.border.css %}
    {{theme.forms.input_field.border.css}}
  {% endif %}
  {% if theme.forms.input_field.spacing.css %}
    {{theme.forms.input_field.spacing.css}}
  {% endif %}
}

.form-default div.hs-form-field .input .hs-input:where(:not(input[type="checkbox"], input[type="radio"])):focus {
  {% if theme.forms.focus.color.color %}
    border-color: {{theme.forms.focus.color.css}};
    box-shadow: 0 0 0 0.25rem {{rgb(theme.forms.focus.color.color, 30)}};
  {% endif %}
}

.form-default div.hs-form-field input.hs-input::placeholder {
  {% if theme.forms.placeholder.font.style %}
    {{theme.forms.placeholder.font.style}};
  {% endif %}
  {% if theme.forms.placeholder.font.size %}
    font-size: {{theme.forms.placeholder.font.size ~ 'px'}};
  {% endif %}
}

.form-default .hs-error-msgs .hs-error-msg {
  {% if theme.forms.error.font.style %}
    {{theme.forms.error.font.style}};
  {% endif %}
  {% if theme.forms.error.font.size %}
    font-size: {{theme.forms.error.font.size ~ 'px'}};
  {% endif %}
  {% if theme.forms.error.spacing.css %}
    {{theme.forms.error.spacing.css}}
  {% endif %}
}
