<!--
  templateType: page
  isAvailableForNewContent: true
  enableDomainStylesheets: false
  label: Contact
  screenshotPath: ../images/template-previews/contact.jpg
-->
{% extends "./layouts/base.html" %}

{% block body %}

  {% dnd_area 'dnd_area'
    label='About template',
    class='about-template'
  %}

    {% include_dnd_partial path='../sections/subpage-banner.html' context={headingText:"Contact us"} %}
    {% include_dnd_partial path='../sections/address.html' context={} %}
    {% include_dnd_partial path='../sections/contacts.html' context={} %}

    {% dnd_section
      padding={
        "default" : {
          "bottom" : "0px",
          "top" : "0px"
        }
      },
      full_width=true
    %}
      {% dnd_column
        offset=0,
        width=12,
        padding={
          "default" : {
            "left" : "0px",
            "right" : "0px"
          }
        }
      %}
        {% dnd_row %}
          {% dnd_module
            path="../modules/svg-divider",
            offset=0,
            width=12,
            divider="wave_right_cover_bottom",
            style={
              "background" : {
                "color" : {
                  "color" : "#FFFFFF",
                  "css" : "#FFFFFF",
                  "opacity" : 100
                }
              }
            }
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}

    {% include_dnd_partial path='../sections/contact-form.html' context={} %}

  {% end_dnd_area %}

{% endblock body %}
