<!--
  templateType: page
  isAvailableForNewContent: true
  enableDomainStylesheets: false
  label: Theme global settings
  screenshotPath: ../images/template-previews/theme-settings.png
-->
{% extends "./layouts/base.html" %}

  {% block body %}

  {% dnd_area 'dnd_area'
    label='Theme settings template',
    class='theme-settings-template'
  %}

    {% include_dnd_partial path='../sections/theme-settings-headings.html' context={} %}
    {% include_dnd_partial path='../sections/theme-settings-buttons-links.html' context={} %}
    {% include_dnd_partial path='../sections/theme-settings-richtext.html' context={} %}
    {% include_dnd_partial path='../sections/theme-settings-faq.html' context={} %}
    {% include_dnd_partial path='../sections/theme-settings-icons.html' context={} %}
    {% include_dnd_partial path='../sections/theme-settings-cards.html' context={} %}

  {% end_dnd_area %}

    {% include "./partials/theme-settings-form.html" %}


{% endblock body %}
