<!--
  templateType: none
  isAvailableForNewContent: false
-->

{# macro attributes scheme #}
{# render_audio_tmpl(data, style, global_data, class_id, stretched_link, link_aria_attrs) #}

{# 1 #}
{# data - [object: module.audio] #}
{# 'macro main data' #}

{# 2 #}
{# style [object: module.style.audio] #}
{# macro main style #}

{# 3 #}
{# global_data [object: module] #}
{# global data [module], usualy for general style setting [style tab -> general panel] #}

{# 4 #}
{# class_id [string: 0|'class_id'] #}
{# macro class_id to add a unique class if we have two or more same macros in one module as a components #}


{# example #}
{# {{render_audio_tmpl(module.audio, module.style.audio, module, 'unique')}} #}
{# ========================= #}


{%- macro render_audio_tmpl(data, style, global_data, class_id) -%}
  {%- if data.audio_source.href -%}

    {%- if class_id -%}
      {%- set audio_class = 'audio-style--' ~ class_id -%}
    {%- else -%}
      {% set audio_class = 'audio-style' %}
    {%- endif -%}

     {# g-module-macros... = global module macros #}
    <figure class="g-module-macros-audio-wrp {{audio_class}}">
        {%- if data.caption.rich_text -%}
          <figcaption class="g-module-macros-audio__caption">{{data.caption.rich_text}}</figcaption>
        {%- endif -%}
        <audio class="g-module-macros-audio"
          controls
          {% if data.additional_settings.loop %} loop {% endif %}
          {% if data.additional_settings.muted %} muted {% endif %}
          {% if data.additional_settings.autoplay %} autoplay {% endif %}
          src="{{data.audio_source.href}}">
        </audio>
    </figure>

  {%- endif -%}
{%- endmacro -%}
