<!--
  templateType: none
  isAvailableForNewContent: false
-->

{# macro attributes scheme #}
{# render_image_tmpl(data, style, global_data, class_id, stretched_link, link_aria_attrs) #}

{# 1 #}
{# data - [object: module.image] #}
{# 'macro main data' #}
{# {% set image_data = {
  "image":{
  "size_type":"auto","src":"","alt":"",
  "loading":"lazy","width":null,"height":null,"max_width":null,"max_height":null
  },
  "link":{"link":{"url":{"href":"","type":"EXTERNAL"},"open_in_new_tab":false,"rel":""} },
  "caption":{"rich_text":""}
}%} #}

{# 2 #}
{# style [object: module.style.image] #}
{# macro main style #}

{# 3 #}
{# global_data [object: module] #}
{# global data [module], usualy for general style setting [style tab -> general panel] #}

{# 4 #}
{# class_id [string: 0|'class_id'] #}
{# macro class_id to add a unique class if we have two or more same macros in one module as a components #}

{# 5 #}
{# stretched_link [boolean: 0|1] #}
{# enable/disable stretched_link option #}

{# 6 #}
{# link_aria_attrs [string: 'ARIA attributes'] #}
{# add additional aria attributes for the link #}

{# example #}
{# {{render_image_tmpl(module.image, module.style.image, module, 'unique', 0, 'role="ROLE_NAME"')}} #}
{# ========================= #}


{%- macro render_image_tmpl(data, style, global_data, class_id, stretched_link, link_aria_attrs) -%}
  {%- if data.image.src -%}

    {%- if class_id -%}
      {%- set image_class = 'image-style--' ~ class_id -%}
    {%- else -%}
      {%- set image_class = 'image-style' -%}
    {%- endif -%}

    {# module global css #}
    {%- require_css -%}
      <style>
        .{{image_class}} {
          display: inline-flex;
          flex-direction: column;
        }
        .{{image_class}} .g-module-macros-image__caption-wrp {
          padding-top: 0.5rem;
        }
      </style>
    {%- end_require_css -%}

    {# module scope css #}<style>
      {%- scope_css -%}
        .{{image_class}} .g-module-macros-image--img {
          {% if style.border.border_radius %}
            border-radius: {{style.border.border_radius ~ 'px'}};
          {% endif %}
          {% if style.custom_image_fit.image_aspect_ratio %}
            aspect-ratio: {{style.custom_image_fit.image_aspect_ratio}};
          {% endif %}
          {% if style.custom_image_fit.image_fit %}
            object-fit: {{style.custom_image_fit.image_fit}};
          {% endif %}
        }
      {%- end_scope_css -%}
    </style><span class="g-module-macros-image {{image_class}}">
      {%- set loadingAttr = data.image.loading != 'disabled' ? 'loading="{{data.image.loading}}"' : '' -%}
      {%- set styleAttr = data.image.size_type != 'exact' ? 'style="max-width: 100%; height: auto;"' : '' -%}
      {%- set widthAttr = data.image.width -%}
      {%- set heightAttr = data.image.height -%}

      {%- if data.image.size_type == 'auto_custom_max' -%}
        {%- set widthAttr = data.image.max_width -%}
        {%- set heightAttr = data.image.max_height -%}
      {%- endif -%}

      {%- if data.link.link.url.href -%}
        {%- set href = data.link.link.url.href -%}
      {%- endif -%}

      {%- if data.link.link.url.type is equalto 'EMAIL_ADDRESS' -%}
        {%- set href = 'mailto:' + href -%}
      {%- endif -%}

      {%- if data.link.link.rel -%}
        {%- set rel = 'rel="{{data.link.link.rel}}"' -%}
      {%- endif -%}

      {%- if stretched_link -%}
        {%- set stretched_link_class = 'stretched-link' -%}
      {%- endif -%}

      {%- macro render_image() -%}
        <span id="{{name}}_image" class="g-module-macros-image--img-wrp"><img class="g-module-macros-image--img"
          alt="{{data.image.alt}}"
          src="{{data.image.src}}"
          width="{{widthAttr}}"
          height="{{heightAttr}}"
          {{loadingAttr}}
          {{styleAttr}}></span>
      {%- endmacro -%}

      {%- if href -%}
        <a href="{{href}}" class=" g-module-macros-image__link {{stretched_link_class}}"
        {% if data.link.link.open_in_new_tab %} target="_blank" {% endif %}
        {{rel}} {{link_aria_attrs}}>{{render_image()}}</a>
      {%- else -%}{{render_image()}}
      {%- endif -%}

      {%- if data.caption.rich_text -%}
        <span class="g-module-macros-image__caption-wrp" style="max-width:{{widthAttr ~ 'px'}};">
          {%- rich_text
            'image-caption'
            extra_classes='g-module-macros-image__caption'
            html='{{data.caption.rich_text}}'
          %}</span>
      {%- endif -%}</span>

  {%- endif -%}
{%- endmacro -%}
