.blog-post-section {
  padding: 0 12px;
}

.blog-post_wrp {
  margin: 50px auto;
}

.blog-post__tags {
  margin: 10px 0;
}

.blog-post__meta {
  margin: 14px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.blog-post__meta-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.blog-post__meta-author-avatar_wrp {
  display: inline-flex;
}

.blog-post__meta-author-avatar {
  border-radius: 50%;
}

.blog-related-posts_wrp {
  background: #F6F4FC;
}

.blog-post__body img {
  height: auto;
  max-width: 100%;
}

/* Blog Post 2 Template */

.blog-post-2-template .blog-post_wrp {
  margin: 0;
}

.blog-post-2-template .blog-post,
.blog-post-2-template .blog-post__tags,
.blog-post-2-template .blog-post__heading,
.blog-post-2-template .blog-post__meta,
.blog-post-2-template .blog-post-featured-image-wrp {
  max-width: 924px;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px;
}

.blog-post-2-template .blog-post__tags,
.blog-post-2-template .blog-post__heading,
.blog-post-2-template .blog-post__meta {
  margin-bottom: 29px;
}

.blog-post-2-template .blog-post-header {
  padding-top: 100px;
  padding-bottom: 64px;
}

.blog-post-2-template .blog-post-header-wrp-featured-image .blog-post-header {
  padding-bottom: 0;
}

.blog-post-2-template .blog-post-header-wrp.blog-post-header-wrp-featured-image {
  position: relative;    
}

.blog-post-2-template .blog-post-header-wrp.blog-post-header-wrp-featured-image:before {
  content: '';
  width: 100%;
  height: 80%;
  position: absolute;
  display: block;
  z-index: -1;
}

.blog-post-2-template .blog-post-featured-image {
  width: 100%;
  height: auto;
  display: block;
}

.blog-post-2-template .blog-post {
  padding-bottom: 100px;
  padding-top: 29px;
}

.blog-post-2-template .blog-post__tag-link:not(:last-child):after,
.blog-post-2-template .blog-related-posts_wrp .g-module-macros-link:not(:last-child):after {
  content: ' | ';
}

.blog-post-2-template .blog-related-posts_wrp .blog-related-module {
  padding-top: 100px !important;
  padding-bottom: 0px !important;
}

.blog-post-2-template .blog-related-posts_wrp {
  background: inherit;
}

@media (max-width: 991.98px) {
  .blog-post-2-template .blog-post-header {
    padding-top: 50px;
  }

  .blog-post-2-template .blog-post {
    padding-bottom: 0px;
  }
}
