/* module css / no hubl variables */
.faq-module__text {
  list-style: none;
  padding: 0.5rem 0;
  position: relative;
}

/* safari */
.faq-module__text::-webkit-details-marker {
  display: none;
}

/* Question */
.faq-module__text > .g-module-macros-text-wrp {
  position: relative;
  padding-left: 1.2rem;
  user-select: none;
  display: inline-block;
}

/* Arrow */
.faq-module__arrow {
  position: absolute;
  user-select: none;
}

.faq-module__arrow:before {
  content: "";
  border-width: 0.4rem;
  border-style: solid;
  border-color: transparent transparent transparent #888;
  position: absolute;
  top: calc(50% - 0.4rem);
  left: 0.25rem;
  transform-origin: 0.2rem 50%;
  transform: rotate(0);
}

.faq-module__details.opening .faq-module__arrow:before,
.faq-module__details.closing .faq-module__arrow:before {
  transition: transform 0.2s linear;
}

.faq-module__details[open]:not(.closing) .faq-module__arrow:before {
  transform: rotate(90deg);
}

/* Answer - animation */
@keyframes details-opening-1 {
  from { margin-top: -10rem; }
  to { margin-top: 0; }
}

@keyframes details-closing-1 {
  from { margin-top: 0; }
  to { margin-top: -10rem; }
}

@keyframes details-opening-2 {
  from { opacity: 0.1; }
  to { opacity: 1; }
}

@keyframes details-closing-2 {
  from { opacity: 1; }
  to { opacity: 0.1; }
}

.faq-module__details.opening .faq-module__richtext {
  overflow: hidden;
  animation: details-opening-2 0.2s ease-in both;
}

.faq-module__details.closing .faq-module__richtext {
  overflow: hidden;
  animation: details-closing-2 0.2s ease-out both;
}

.faq-module__details.opening .faq-module__richtext *:first-child {
  animation: details-opening-1 0.2s ease-out both;
}

.faq-module__details.closing .faq-module__richtext *:first-child {
  animation: details-closing-1 0.2s ease-in both;
}
