{% import '../macros/image.html' as image_macros %}
{% import '../macros/figure.html' as figure_macros %}
{% import '../macros/icon.html' as icon_macros %}
{% import '../macros/heading.html' as heading_macros %}
{% import '../macros/text.html' as text_macros %}
{% import '../macros/richtext.html' as richtext_macros %}
{% import '../macros/link.html' as link_macros %}
{% import '../macros/button.html' as button_macros %}
{% import '../../css/macros/macros.css' %}

{# #1 part filter content #}
{# only if using filter content option #}
{# parse filter content categories #}
{% if module.filter_content.filter %}
  {% set filter_content = module.filter_content.filter %}
  {% set data_filter = {class:""} %}
  {% if module.style.filter_content.width %}
    {% set item_width = module.style.filter_content.width %}
  {% endif %}
  {% for filter in module.filter_content.filter %}
      {% do data_filter.update({class: data_filter.class ~ ' ' ~ filter.columns.filter|lower|trim|replace(" ","")}) %}
  {% endfor %}
  {% set filter_content_classes = 'filter-content__item {{data_filter.class}}' %}
  <div class="filter-content__item--sizer"></div>
{% endif %}
{# ================================= #}

{# module global css #}
{% require_css %}
  <style>
  </style>
{% end_require_css %}

{# module scope css #}
<style>
  {% scope_css %}

    {% if module.icon.icon.name %}
      .template-module__icon {
        padding-bottom: 1rem;
      }
    {% endif %}

    {% if module.secondary_link.text %}
      .template-module__secondary-link {
        padding-top: 1rem;
      }
    {% endif %}

    {% if module.button.text %}
      .template-module__button {
        padding-top: 1rem;
      }
    {% endif %}

    {% if module.secondary_button.text %}
      .template-module__secondary-button {
        padding-top: 1rem;
      }
    {% endif %}

    {% if module.style.secondary_button.alignment.inline %}
      .template-module__buttons_wrp {
        display: flex;
        {% if module.style.secondary_button.alignment.inline_alignment %}
          justify-content: {{module.style.secondary_button.alignment.inline_alignment}};
        {% endif %}
      }
      .template-module__button {
        padding-right: 0.5rem;
      }
      .template-module__secondary-button {
        padding-left: 0.5rem;
      }
    {% endif %}

    {% if module.style.secondary_link.alignment.inline %}
      .template-module__links_wrp {
        display: flex;
        {% if module.style.secondary_link.alignment.inline_alignment %}
          justify-content: {{module.style.secondary_link.alignment.inline_alignment}};
        {% endif %}
      }
      .template-module__link {
        padding-right: 0.5rem;
      }
      .template-module__secondary-link {
        padding-top: 0;
        padding-left: 0.5rem;
      }
    {% endif %}

    .template-module {
      {% if module.style.general.alignment.alignment.horizontal_align %}
        text-align: {{module.style.general.alignment.alignment.horizontal_align}};
      {% endif %}
      {% if module.style.general.border.border_radius != null %}
        border-radius: {{module.style.general.border.border_radius ~ 'px'}};
      {% endif %}
      {% if module.style.general.background.color.css %}
        background-color: {{module.style.general.background.color.css}};
      {% endif %}
      {{module.style.general.border.border.css}}
      {{module.style.general.spacing.spacing.css}}
    }

    .template-module__image {
      text-align: {{module.style.image.alignment.alignment.horizontal_align}};
      {% if module.style.image.background.color.css %}
        background-color: {{module.style.image.background.color.css}};
      {% endif %}
      {{module.style.image.spacing.spacing.css}}
    }

    .template-module__figure {
      text-align: {{module.style.figure.alignment.alignment.horizontal_align}};
      {% if module.style.figure.background.color.css %}
        background-color: {{module.style.figure.background.color.css}};
      {% endif %}
      {{module.style.figure.spacing.spacing.css}}
    }

    .template-module__text-body {
      {% if module.style.text_body.background.color.css %}
        background-color: {{module.style.text_body.background.color.css}};
      {% endif %}
      {{module.style.text_body.spacing.spacing.css}}
    }

    .template-module__icon {
      text-align: {{module.style.icon.alignment.alignment.horizontal_align}};
      {% if module.style.icon.background.color.css %}
        background-color: {{module.style.icon.background.color.css}};
      {% endif %}
      {{module.style.icon.spacing.spacing.css}}
    }

    .template-module__heading {
      {% if module.style.heading.background.color.css %}
        background-color: {{module.style.heading.background.color.css}};
      {% endif %}
      text-align: {{module.style.heading.alignment.alignment.horizontal_align}};
      {{module.style.heading.spacing.spacing.css}}
    }

    .template-module__subheading {
      {% if module.style.subheading.background.color.css %}
        background-color: {{module.style.subheading.background.color.css}};
      {% endif %}
      text-align: {{module.style.subheading.alignment.alignment.horizontal_align}};
      {{module.style.subheading.spacing.spacing.css}}
    }

    .template-module__text {
      {% if module.style.text.background.color.css %}
        background-color: {{module.style.text.background.color.css}};
      {% endif %}
      text-align: {{module.style.text.alignment.alignment.horizontal_align}};
      {{module.style.text.spacing.spacing.css}}
    }

    .template-module__richtext {
      {% if module.style.richtext.background.color.css %}
        background-color: {{module.style.richtext.background.color.css}};
      {% endif %}
      {{module.style.richtext.spacing.spacing.css}}
    }

    .template-module__link {
      text-align: {{module.style.link.alignment.alignment.horizontal_align}};
      {% if module.style.link.background.color.css %}
        background-color: {{module.style.link.background.color.css}};
      {% endif %}
      {{module.style.link.spacing.spacing.css}}
    }

    .template-module__secondary-link {
      text-align: {{module.style.secondary_link.alignment.alignment.horizontal_align}};
      {% if module.style.secondary_link.background.color.css %}
        background-color: {{module.style.secondary_link.background.color.css}};
      {% endif %}
      {{module.style.secondary_link.spacing.spacing.css}}
    }

    .template-module__button {
      text-align: {{module.style.button.alignment.alignment.horizontal_align}};
      {% if module.style.button.background.color.css %}
        background-color: {{module.style.button.background.color.css}};
      {% endif %}
      {{module.style.button.spacing.spacing.css}}
    }

    .template-module__secondary-button {
      text-align: {{module.style.secondary_button.alignment.alignment.horizontal_align}};
      {% if module.style.secondary_button.background.color.css %}
        background-color: {{module.style.secondary_button.background.color.css}};
      {% endif %}
      {{module.style.secondary_button.spacing.spacing.css}}
    }

    {# #2 part filter content #}
    {# only if using filter content option #}
    {% if module.filter_content.filter %}
      {% if item_width %}
        .filter-content__item,
        .filter-content__item--sizer {
          width: {{item_width ~ '%'}};
        }
      {% endif %}
      {% if module.style.filter_content.spacing %}
        .filter-content__item {
          {{module.style.filter_content.spacing.css}}
        }
      {% endif %}
    {% endif %}
    {# ================================= #}

  {% end_scope_css %}
</style>


<div class="template-module_wrp {{filter_content_classes}}">
  <div class="template-module template-module--{{module_id}} {{module.style.general.presets.custom_preset}}">

    {% if module.heading.additional_settings.header_above_image %}
      <div class="template-module__heading">
        {{heading_macros.render_heading_tmpl(module.heading, module.style.heading, module)}}
      </div>
    {% endif %}

    <div class="template-module__image">
      {{image_macros.render_image_tmpl(module.image, module.style.image, module)}}
    </div>

    <div class="template-module__figure">
      {{figure_macros.render_figure_tmpl(module.figure, module.style.figure, module)}}
    </div>

    <div class="template-module__text-body">
      <div class="template-module__icon">
        {{icon_macros.render_icon_tmpl(module.icon, module.style.icon, module)}}
      </div>

      {% if module.heading.additional_settings.header_above_image == false %}
        <div class="template-module__heading">
          {{heading_macros.render_heading_tmpl(module.heading, module.style.heading, module)}}
        </div>
      {% endif %}

      <div class="template-module__subheading">
        {{heading_macros.render_heading_tmpl(module.subheading, module.style.subheading, module,
          {
            id: 'subheading'
          }
        )}}
      </div>

      <div class="template-module__text">
        {{text_macros.render_text_tmpl(module.text, module.style.text, module)}}
      </div>

      <div class="template-module__richtext">
        {{richtext_macros.render_richtext_tmpl(module.richtext, module.style.richtext, module)}}
      </div>

      <div class="template-module__links_wrp">
        <div class="template-module__link">
          {{link_macros.render_link_tmpl(module.link, module.style.link, module)}}
        </div>
        <div class="template-module__secondary-link">
          {{link_macros.render_link_tmpl(module.secondary_link, module.style.secondary_link, module,
            {
              id: 'secondary'
            }
          )}}
        </div>
      </div>

      <div class="template-module__buttons_wrp">
        <div class="template-module__button">
          {{button_macros.render_btn_tmpl(module.button, module.style.button, module)}}
        </div>
        <div class="template-module__secondary-button">
          {{button_macros.render_btn_tmpl(module.secondary_button, module.style.secondary_button, module,
          {
            id: 'secondary'
          }
          )}}
        </div>
      </div>

    </div>

  </div>
</div>
