<!--
  templateType: global_partial
  label: Website header
-->

{% require_css %}
  <style>
    .global-header {
      box-shadow: 0 2px 2px 0 #00000029, 0 0 0 1px #00000014;
    }
    .skip-link_wrp {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1030;
      background-color: #fff;
      box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%), 0 0 0 1px rgb(0 0 0 / 8%);
      margin: 2rem auto 1.2rem 0;
      overflow: hidden;
    }
    .skip-link {
      display: inline-block;
      margin: 0.8rem 1.2rem;
      text-align: center;
      width: 120px;
    }
    .sticky-header {
      position: sticky;
      top: 0;
      z-index: 1030;
    }
  </style>
{% end_require_css %}

<div class=".skip-link_wrp">
  <a href="#main-content" class="skip-link visually-hidden-focusable">Skip to main content</a>
</div>

{% dnd_area 'global-header'
  label='Global header'
  class='global-header global-partial'
%}

  {% dnd_section %}

    {% dnd_module path='../../modules/site-header' %}
    {% end_dnd_module %}

  {% end_dnd_section %}

{% end_dnd_area %}
