.password-prompt {
  margin-top: 3rem;
  margin-bottom: 3rem;
  {% if theme.forms.error.font.color %}
    --form-error-color: {{theme.forms.error.font.color}};
  {% endif %}
}

.password-prompt-module > span {
  {% if theme.forms.error.font.color %}
    color: {{theme.forms.error.font.color}};
  {% endif %}
  {% if theme.forms.error.font.style %}
    {{theme.forms.error.font.style}};
  {% endif %}
  {% if theme.forms.error.font.size %}
    font-size: {{theme.forms.error.font.size ~ 'px'}};
  {% endif %}
  {{theme.forms.error.spacing.css}}
}

.form-default.password-prompt-module input[type="password"] {
  height: auto !important;
  margin-top: inherit !important;
}
