.password-prompt {
  margin-top: 3rem;
  margin-bottom: 3rem;
  {% if theme.forms.error.font.color %}
    --form-error-color: {{theme.forms.error.font.color}};
  {% endif %}
}

.password-prompt-module > span {
  font-size: 0.875em;
  color: var(--_form-error-color);
  {% if theme.forms.error.font.style %}
    {{theme.forms.error.font.style}};
  {% endif %}
  {% if theme.forms.error.font.size %}
    font-size: {{theme.forms.error.font.size ~ 'px'}};
  {% endif %}
  {{theme.forms.error.spacing.css}}
}

.password-prompt .g-module-macros-richtext p {
  margin-bottom: 0;
}

.password-prompt-module input[type="password"] {
  height: auto !important;
  font-size: initial;
  margin-top: 0.6rem!important;
}

.password-prompt-module input[type="submit"] {
  margin-top: 1rem;
}
