{% import '../macros/macros.css' %}

/* Buttons */
/* Primary button */
{% set btn_primary_border = theme.buttons.primary.border.border %}
{% set btn_primary_radius = theme.buttons.primary.radius.radius %}
{% set btn_primary_font = theme.buttons.primary.text.font %}
{% set btn_primary_background = theme.buttons.primary.background.color %}
/* hover color */
{% if theme.buttons.primary.hover.color.color %}
  {% set btn_primary_hover_color = theme.buttons.primary.hover.color.color %}
{% else %}
  {% set btn_primary_hover_color = color_variant(btn_primary_font.color, -20) %}
{% endif %}
/* hover background */
{% if theme.buttons.primary.hover.background.color %}
  {% set btn_primary_hover_background_color = theme.buttons.primary.hover.background.color %}
  {% set btn_primary_hover_background_opacity = theme.buttons.primary.hover.background.opacity %}
{% else %}
  {% set btn_primary_hover_background_color = color_variant(btn_primary_background.color, -25) %}
  {% set btn_primary_hover_background_opacity = btn_primary_background.opacity %}
{% endif %}
/* hover border */
{% if theme.buttons.primary.hover.border.color %}
  {% set btn_primary_hover_border_color = theme.buttons.primary.hover.border.color %}
  {% set btn_primary_hover_border_opacity = theme.buttons.primary.hover.border.opacity %}
{% else %}
  {% set btn_primary_hover_border_color = color_variant(btn_primary_border.top.color, -25) %}
  {% set btn_primary_hover_border_opacity = btn_primary_border.top.opacity %}
{% endif %}

{% if btn_primary_hover_background_opacity == 100 %}
  {% set btn_primary_hover_shadow_opacity = 50 %}
{% else %}
  {% if btn_primary_hover_background_opacity < 45 %}
    {% set btn_primary_hover_shadow_opacity = btn_primary_hover_background_opacity + 25 %}
  {% elif btn_primary_hover_background_opacity < 65 %}
    {% set btn_primary_hover_shadow_opacity = btn_primary_hover_background_opacity - 20 %}
  {% elif btn_primary_hover_background_opacity < 85 %}
    {% set btn_primary_hover_shadow_opacity = btn_primary_hover_background_opacity - 30 %}
  {% elif btn_primary_hover_background_opacity < 100 %}
    {% set btn_primary_hover_shadow_opacity = btn_primary_hover_background_opacity - 45 %}
  {% endif %}
{% endif %}

/* secondary1 button */
{% set btn_secondary1_border = theme.buttons.secondary1.border.border %}
{% set btn_secondary1_radius = theme.buttons.secondary1.radius.radius %}
{% set btn_secondary1_font = theme.buttons.secondary1.text.font %}
{% set btn_secondary1_background = theme.buttons.secondary1.background.color %}
/* hover color */
{% if theme.buttons.secondary1.hover.color.color %}
  {% set btn_secondary1_hover_color = theme.buttons.secondary1.hover.color.color %}
{% else %}
  {% set btn_secondary1_hover_color = color_variant(btn_secondary1_font.color, -20) %}
{% endif %}
/* hover background */
{% if theme.buttons.secondary1.hover.background.color %}
  {% set btn_secondary1_hover_background_color = theme.buttons.secondary1.hover.background.color %}
  {% set btn_secondary1_hover_background_opacity = theme.buttons.secondary1.hover.background.opacity %}
{% else %}
  {% set btn_secondary1_hover_background_color = color_variant(btn_secondary1_background.color, -25) %}
  {% set btn_secondary1_hover_background_opacity = btn_secondary1_background.opacity %}
{% endif %}
/* hover border */
{% if theme.buttons.secondary1.hover.border.color %}
  {% set btn_secondary1_hover_border_color = theme.buttons.secondary1.hover.border.color %}
  {% set btn_secondary1_hover_border_opacity = theme.buttons.secondary1.hover.border.opacity %}
{% else %}
  {% set btn_secondary1_hover_border_color = color_variant(btn_secondary1_border.top.color, -25) %}
  {% set btn_secondary1_hover_border_opacity = btn_secondary1_border.top.opacity %}
{% endif %}

{% if btn_secondary1_hover_background_opacity == 100 %}
  {% set btn_secondary1_hover_shadow_opacity = 50 %}
{% else %}
  {% if btn_secondary1_hover_background_opacity < 45 %}
    {% set btn_secondary1_hover_shadow_opacity = btn_secondary1_hover_background_opacity + 25 %}
  {% elif btn_secondary1_hover_background_opacity < 65 %}
    {% set btn_secondary1_hover_shadow_opacity = btn_secondary1_hover_background_opacity - 20 %}
  {% elif btn_secondary1_hover_background_opacity < 85 %}
    {% set btn_secondary1_hover_shadow_opacity = btn_secondary1_hover_background_opacity - 30 %}
  {% elif btn_secondary1_hover_background_opacity < 100 %}
    {% set btn_secondary1_hover_shadow_opacity = btn_secondary1_hover_background_opacity - 45 %}
  {% endif %}
{% endif %}

/* secondary2 button */
{% set btn_secondary2_border = theme.buttons.secondary2.border.border %}
{% set btn_secondary2_radius = theme.buttons.secondary2.radius.radius %}
{% set btn_secondary2_font = theme.buttons.secondary2.text.font %}
{% set btn_secondary2_background = theme.buttons.secondary2.background.color %}
/* hover color */
{% if theme.buttons.secondary2.hover.color.color %}
  {% set btn_secondary2_hover_color = theme.buttons.secondary2.hover.color.color %}
{% else %}
  {% set btn_secondary2_hover_color = color_variant(btn_secondary2_font.color, -20) %}
{% endif %}
/* hover background */
{% if theme.buttons.secondary2.hover.background.color %}
  {% set btn_secondary2_hover_background_color = theme.buttons.secondary2.hover.background.color %}
  {% set btn_secondary2_hover_background_opacity = theme.buttons.secondary2.hover.background.opacity %}
{% else %}
  {% set btn_secondary2_hover_background_color = color_variant(btn_secondary2_background.color, -25) %}
  {% set btn_secondary2_hover_background_opacity = btn_secondary2_background.opacity %}
{% endif %}
/* hover border */
{% if theme.buttons.secondary2.hover.border.color %}
  {% set btn_secondary2_hover_border_color = theme.buttons.secondary2.hover.border.color %}
  {% set btn_secondary2_hover_border_opacity = theme.buttons.secondary2.hover.border.opacity %}
{% else %}
  {% set btn_secondary2_hover_border_color = color_variant(btn_secondary2_border.top.color, -25) %}
  {% set btn_secondary2_hover_border_opacity = btn_secondary2_border.top.opacity %}
{% endif %}

{% if btn_secondary2_hover_background_opacity == 100 %}
  {% set btn_secondary2_hover_shadow_opacity = 50 %}
{% else %}
  {% if btn_secondary2_hover_background_opacity < 45 %}
    {% set btn_secondary2_hover_shadow_opacity = btn_secondary2_hover_background_opacity + 25 %}
  {% elif btn_secondary2_hover_background_opacity < 65 %}
    {% set btn_secondary2_hover_shadow_opacity = btn_secondary2_hover_background_opacity - 20 %}
  {% elif btn_secondary2_hover_background_opacity < 85 %}
    {% set btn_secondary2_hover_shadow_opacity = btn_secondary2_hover_background_opacity - 30 %}
  {% elif btn_secondary2_hover_background_opacity < 100 %}
    {% set btn_secondary2_hover_shadow_opacity = btn_secondary2_hover_background_opacity - 45 %}
  {% endif %}
{% endif %}

/* secondary3 button */
{% set btn_secondary3_border = theme.buttons.secondary3.border.border %}
{% set btn_secondary3_radius = theme.buttons.secondary3.radius.radius %}
{% set btn_secondary3_font = theme.buttons.secondary3.text.font %}
{% set btn_secondary3_background = theme.buttons.secondary3.background.color %}
/* hover color */
{% if theme.buttons.secondary3.hover.color.color %}
  {% set btn_secondary3_hover_color = theme.buttons.secondary3.hover.color.color %}
{% else %}
  {% set btn_secondary3_hover_color = color_variant(btn_secondary3_font.color, -20) %}
{% endif %}
/* hover background */
{% if theme.buttons.secondary3.hover.background.color %}
  {% set btn_secondary3_hover_background_color = theme.buttons.secondary3.hover.background.color %}
  {% set btn_secondary3_hover_background_opacity = theme.buttons.secondary3.hover.background.opacity %}
{% else %}
  {% set btn_secondary3_hover_background_color = color_variant(btn_secondary3_background.color, -25) %}
  {% set btn_secondary3_hover_background_opacity = btn_secondary3_background.opacity %}
{% endif %}
/* hover border */
{% if theme.buttons.secondary3.hover.border.color %}
  {% set btn_secondary3_hover_border_color = theme.buttons.secondary3.hover.border.color %}
  {% set btn_secondary3_hover_border_opacity = theme.buttons.secondary3.hover.border.opacity %}
{% else %}
  {% set btn_secondary3_hover_border_color = color_variant(btn_secondary3_border.top.color, -25) %}
  {% set btn_secondary3_hover_border_opacity = btn_secondary3_border.top.opacity %}
{% endif %}

{% if btn_secondary3_hover_background_opacity == 100 %}
  {% set btn_secondary3_hover_shadow_opacity = 50 %}
{% else %}
  {% if btn_secondary3_hover_background_opacity < 45 %}
    {% set btn_secondary3_hover_shadow_opacity = btn_secondary3_hover_background_opacity + 25 %}
  {% elif btn_secondary3_hover_background_opacity < 65 %}
    {% set btn_secondary3_hover_shadow_opacity = btn_secondary3_hover_background_opacity - 20 %}
  {% elif btn_secondary3_hover_background_opacity < 85 %}
    {% set btn_secondary3_hover_shadow_opacity = btn_secondary3_hover_background_opacity - 30 %}
  {% elif btn_secondary3_hover_background_opacity < 100 %}
    {% set btn_secondary3_hover_shadow_opacity = btn_secondary3_hover_background_opacity - 45 %}
  {% endif %}
{% endif %}

/* buttons */
.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #222;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}

.btn:focus {
  outline: 0;
}

.btn:disabled,
.btn.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.btn-small {
  font-size: {{theme.buttons.size.small.font_size ~ 'px'}};
  {{theme.buttons.size.small.spacing.css}}
}
.btn-regular {
  font-size: {{theme.buttons.size.regular.font_size ~ 'px'}};
  {{theme.buttons.size.regular.spacing.css}}
}
.btn-large {
  font-size: {{theme.buttons.size.large.font_size ~ 'px'}};
  {{theme.buttons.size.large.spacing.css}}
}

.btn-w100 {
  display: block;
  width: 100%;
}

.btn-w100 + .btn-w100 {
  margin-top: 0.5rem;
}

/* button primary */
.btn-primary {
  {% if btn_primary_radius %}
    border-radius: {{btn_primary_radius ~ 'px'}};
  {% endif %}
  {% if btn_primary_font.color %}
    color: {{btn_primary_font.color}};
    fill: {{btn_primary_font.color}};
  {% endif %}
  {% if btn_primary_font.size %}
    font-size: {{btn_primary_font.size ~ 'px'}};
  {% endif %}
  {% if btn_primary_background.css %}
    background-color: {{btn_primary_background.css}};
  {% endif %}
  {% if btn_primary_font.font == null %}
    font-family: var(--system-fonts);
  {% endif %}
  {% if btn_primary_font.style %}
    {{btn_primary_font.style}};
  {% endif %}
  {{btn_primary_border.css}}
}

.btn-primary:hover {
  {% if btn_primary_hover_color %}
    color: {{btn_primary_hover_color}};
    fill: {{btn_primary_hover_color}};
  {% endif %}
  {% if btn_primary_hover_background_color %}
    background-color: {{rgb(btn_primary_hover_background_color, btn_primary_hover_background_opacity)}};
  {% endif %}
  {% if btn_primary_hover_border_color %}
    border-color: {{rgb(btn_primary_hover_border_color, btn_primary_hover_border_opacity)}};
  {% endif %}
  text-decoration: none;
  {% if btn_primary_font.style %}
    {{btn_primary_font.style}};
  {% endif %}
}

.btn-primary:focus,
.btn-primary.focus {
  {% if btn_primary_hover_color %}
    color: {{btn_primary_hover_color}};
    fill: {{btn_primary_hover_color}};
  {% endif %}
  {% if btn_primary_hover_background_color %}
    background-color: {{rgb(btn_primary_hover_background_color, btn_primary_hover_background_opacity)}};
    box-shadow: 0 0 0 0.25rem {{rgb(btn_primary_hover_background_color, btn_primary_hover_shadow_opacity)}};
  {% endif %}
  {% if btn_primary_hover_border_color %}
    border-color: {{rgb(btn_primary_hover_border_color, btn_primary_hover_border_opacity)}};
  {% endif %}
}

.btn-primary:active,
.btn-primary.active {
  {% if btn_primary_hover_color %}
    color: {{btn_primary_hover_color}};
    fill: {{btn_primary_hover_color}};
  {% endif %}
  {% if btn_primary_hover_border_color %}
    border-color: {{rgb(btn_primary_hover_border_color, btn_primary_hover_border_opacity, -20)}};
  {% endif %}
  {% if btn_primary_hover_background_color %}
    background-color: {{rgb(btn_primary_hover_background_color, btn_primary_hover_background_opacity, -20)}};
  {% endif %}
}

{% if btn_primary_hover_background_color %}
  .btn-primary:active:focus,
  .btn-primary.active:focus {
    box-shadow: 0 0 0 0.25rem {{rgb(btn_primary_hover_background_color, btn_primary_hover_shadow_opacity)}};
  }
{% endif %}


/* button secondary1 */
.btn-secondary1 {
  {% if btn_secondary1_radius %}
    border-radius: {{btn_secondary1_radius ~ 'px'}};
  {% endif %}
  {% if btn_secondary1_font.color %}
    color: {{btn_secondary1_font.color}};
    fill: {{btn_secondary1_font.color}};
  {% endif %}
  {% if btn_secondary1_font.size %}
    font-size: {{btn_secondary1_font.size ~ 'px'}};
  {% endif %}
  {% if btn_secondary1_background.css %}
    background-color: {{btn_secondary1_background.css}};
  {% endif %}
  {% if btn_secondary1_font.font == null %}
    font-family: var(--system-fonts);
  {% endif %}
  {% if btn_secondary1_font.style %}
    {{btn_secondary1_font.style}};
  {% endif %}
  {{btn_secondary1_border.css}}
}

.btn-secondary1:hover {
  {% if btn_secondary1_hover_color %}
    color: {{btn_secondary1_hover_color}};
    fill: {{btn_secondary1_hover_color}};
  {% endif %}
  {% if btn_secondary1_hover_background_color %}
    background-color: {{rgb(btn_secondary1_hover_background_color, btn_secondary1_hover_background_opacity)}};
  {% endif %}
  {% if btn_secondary1_hover_border_color %}
    border-color: {{rgb(btn_secondary1_hover_border_color, btn_secondary1_hover_border_opacity)}};
  {% endif %}
  text-decoration: none;
  {% if btn_secondary1_font.style %}
    {{btn_secondary1_font.style}};
  {% endif %}
}

.btn-secondary1:focus,
.btn-secondary1.focus {
  {% if btn_secondary1_hover_color %}
    color: {{btn_secondary1_hover_color}};
    fill: {{btn_secondary1_hover_color}};
  {% endif %}
  {% if btn_secondary1_hover_background_color %}
    background-color: {{rgb(btn_secondary1_hover_background_color, btn_secondary1_hover_background_opacity)}};
    box-shadow: 0 0 0 0.25rem {{rgb(btn_secondary1_hover_background_color, btn_secondary1_hover_shadow_opacity)}};
  {% endif %}
  {% if btn_secondary1_hover_border_color %}
    border-color: {{rgb(btn_secondary1_hover_border_color, btn_secondary1_hover_border_opacity)}};
  {% endif %}
}

.btn-secondary1:active,
.btn-secondary1.active {
  {% if btn_secondary1_hover_color %}
    color: {{btn_secondary1_hover_color}};
    fill: {{btn_secondary1_hover_color}};
  {% endif %}
  {% if btn_secondary1_hover_border_color %}
    border-color: {{rgb(btn_secondary1_hover_border_color, btn_secondary1_hover_border_opacity, -20)}};
  {% endif %}
  {% if btn_secondary1_hover_background_color %}
    background-color: {{rgb(btn_secondary1_hover_background_color, btn_secondary1_hover_background_opacity, -20)}};
  {% endif %}
}

{% if btn_secondary1_hover_background_color %}
  .btn-secondary1:active:focus,
  .btn-secondary1.active:focus {
    box-shadow: 0 0 0 0.25rem {{rgb(btn_secondary1_hover_background_color, btn_secondary1_hover_shadow_opacity)}};
  }
{% endif %}


/* button secondary2 */
.btn-secondary2 {
  {% if btn_secondary2_radius %}
    border-radius: {{btn_secondary2_radius ~ 'px'}};
  {% endif %}
  {% if btn_secondary2_font.color %}
    color: {{btn_secondary2_font.color}};
    fill: {{btn_secondary2_font.color}};
  {% endif %}
  {% if btn_secondary2_font.size %}
    font-size: {{btn_secondary2_font.size ~ 'px'}};
  {% endif %}
  {% if btn_secondary2_background.css %}
    background-color: {{btn_secondary2_background.css}};
  {% endif %}
  {% if btn_secondary2_font.font == null %}
    font-family: var(--system-fonts);
  {% endif %}
  {% if btn_secondary2_font.style %}
    {{btn_secondary2_font.style}};
  {% endif %}
  {{btn_secondary2_border.css}}
}

.btn-secondary2:hover {
  {% if btn_secondary2_hover_color %}
    color: {{btn_secondary2_hover_color}};
    fill: {{btn_secondary2_hover_color}};
  {% endif %}
  {% if btn_secondary2_hover_background_color %}
    background-color: {{rgb(btn_secondary2_hover_background_color, btn_secondary2_hover_background_opacity)}};
  {% endif %}
  {% if btn_secondary2_hover_border_color %}
    border-color: {{rgb(btn_secondary2_hover_border_color, btn_secondary2_hover_border_opacity)}};
  {% endif %}
  text-decoration: none;
  {% if btn_secondary2_font.style %}
    {{btn_secondary2_font.style}};
  {% endif %}
}

.btn-secondary2:focus,
.btn-secondary2.focus {
  {% if btn_secondary2_hover_color %}
    color: {{btn_secondary2_hover_color}};
    fill: {{btn_secondary2_hover_color}};
  {% endif %}
  {% if btn_secondary2_hover_background_color %}
    background-color: {{rgb(btn_secondary2_hover_background_color, btn_secondary2_hover_background_opacity)}};
    box-shadow: 0 0 0 0.25rem {{rgb(btn_secondary2_hover_background_color, btn_secondary2_hover_shadow_opacity)}};
  {% endif %}
  {% if btn_secondary2_hover_border_color %}
    border-color: {{rgb(btn_secondary2_hover_border_color, btn_secondary2_hover_border_opacity)}};
  {% endif %}
}

.btn-secondary2:active,
.btn-secondary2.active {
  {% if btn_secondary2_hover_color %}
    color: {{btn_secondary2_hover_color}};
    fill: {{btn_secondary2_hover_color}};
  {% endif %}
  {% if btn_secondary2_hover_border_color %}
    border-color: {{rgb(btn_secondary2_hover_border_color, btn_secondary2_hover_border_opacity, -20)}};
  {% endif %}
  {% if btn_secondary2_hover_background_color %}
    background-color: {{rgb(btn_secondary2_hover_background_color, btn_secondary2_hover_background_opacity, -20)}};
  {% endif %}
}

{% if btn_secondary2_hover_background_color %}
  .btn-secondary2:active:focus,
  .btn-secondary2.active:focus {
    box-shadow: 0 0 0 0.25rem {{rgb(btn_secondary2_hover_background_color, btn_secondary2_hover_shadow_opacity)}};
  }
{% endif %}

/* button secondary3 */
.btn-secondary3 {
  {% if btn_secondary3_radius %}
    border-radius: {{btn_secondary3_radius ~ 'px'}};
  {% endif %}
  {% if btn_secondary3_font.color %}
    color: {{btn_secondary3_font.color}};
    fill: {{btn_secondary3_font.color}};
  {% endif %}
  {% if btn_secondary3_font.size %}
    font-size: {{btn_secondary3_font.size ~ 'px'}};
  {% endif %}
  {% if btn_secondary3_background.css %}
    background-color: {{btn_secondary3_background.css}};
  {% endif %}
  {% if btn_secondary3_font.font == null %}
    font-family: var(--system-fonts);
  {% endif %}
  {% if btn_secondary3_font.style %}
    {{btn_secondary3_font.style}};
  {% endif %}
  {{btn_secondary3_border.css}}
}

.btn-secondary3:hover {
  {% if btn_secondary3_hover_color %}
    color: {{btn_secondary3_hover_color}};
    fill: {{btn_secondary3_hover_color}};
  {% endif %}
  {% if btn_secondary3_hover_background_color %}
    background-color: {{rgb(btn_secondary3_hover_background_color, btn_secondary3_hover_background_opacity)}};
  {% endif %}
  {% if btn_secondary3_hover_border_color %}
    border-color: {{rgb(btn_secondary3_hover_border_color, btn_secondary3_hover_border_opacity)}};
  {% endif %}
  text-decoration: none;
  {% if btn_secondary3_font.style %}
    {{btn_secondary3_font.style}};
  {% endif %}
}

.btn-secondary3:focus,
.btn-secondary3.focus {
  {% if btn_secondary3_hover_color %}
    color: {{btn_secondary3_hover_color}};
    fill: {{btn_secondary3_hover_color}};
  {% endif %}
  {% if btn_secondary3_hover_background_color %}
    background-color: {{rgb(btn_secondary3_hover_background_color, btn_secondary3_hover_background_opacity)}};
    box-shadow: 0 0 0 0.25rem {{rgb(btn_secondary3_hover_background_color, btn_secondary3_hover_shadow_opacity)}};
  {% endif %}
  {% if btn_secondary3_hover_border_color %}
    border-color: {{rgb(btn_secondary3_hover_border_color, btn_secondary3_hover_border_opacity)}};
  {% endif %}
}

.btn-secondary3:active,
.btn-secondary3.active {
  {% if btn_secondary3_hover_color %}
    color: {{btn_secondary3_hover_color}};
    fill: {{btn_secondary3_hover_color}};
  {% endif %}
  {% if btn_secondary3_hover_border_color %}
    border-color: {{rgb(btn_secondary3_hover_border_color, btn_secondary3_hover_border_opacity, -20)}};
  {% endif %}
  {% if btn_secondary3_hover_background_color %}
    background-color: {{rgb(btn_secondary3_hover_background_color, btn_secondary3_hover_background_opacity, -20)}};
  {% endif %}
}

{% if btn_secondary3_hover_background_color %}
  .btn-secondary3:active:focus,
  .btn-secondary3.active:focus {
    box-shadow: 0 0 0 0.25rem {{rgb(btn_secondary3_hover_background_color, btn_secondary3_hover_shadow_opacity)}};
  }
{% endif %}
