{% import '../macros/macros.css' %}

{% set card_light_color = theme.cards.light.text.color.css %}
{% set card_dark_color = theme.cards.dark.text.color.css %}

.card--light {
    background-color: {{theme.cards.light.background.color.css}};
    border-radius: {{theme.cards.light.corner.radius ~ 'px'}};
    color: {{card_light_color}};
    {{theme.cards.light.border.border.css}}
}

.card--light,
.card--light a:not(.btn),
.card--light blockquote,
.card--light h1,
.card--light h2,
.card--light h3,
.card--light h4,
.card--light h5,
.card--light h6 {
  color: {{card_light_color}};
}

.card--light a:not(.btn):hover {
  color: {{rgb(theme.cards.light.text.color.color, theme.cards.light.text.color.opacity, +30, -20)}};
}

.card--light .g-module-macros-icon--heading-icon svg {
  fill: {{card_light_color}};
}

.card--dark {
  background-color: {{theme.cards.dark.background.color.css}};
  border-radius: {{theme.cards.dark.corner.radius ~ 'px'}};
  color: {{card_dark_color}};
  {{theme.cards.dark.border.border.css}}
}

  .card--dark,
  .card--dark a:not(.btn),
  .card--dark blockquote,
  .card--dark h1,
  .card--dark h2,
  .card--dark h3,
  .card--dark h4,
  .card--dark h5,
  .card--dark h6 {
  color: {{card_dark_color}};
  }

.card--dark .g-module-macros-icon--heading-icon svg {
  fill: {{card_dark_color}};
}

.card--dark a:not(.btn):hover {
  color: {{rgb(theme.cards.dark.text.color.color, theme.cards.dark.text.color.opacity, +30, -20)}};
}
