{% import '../macros/macros.css' %}

.form-default {
  --_form-label-color: var(--form-label-color, inherit);
  --_form-help-text-color: var(--form-help-text-color, #394047);
  --_form-placeholder-color: var(--form-placeholder-color, rgb(57 64 71 / 70%));
  --_form-error-color: var(--form-error-color, #f2545b);
}

.form-default .hs-form fieldset {
  margin-bottom: 22px;
  max-width: 100%;
}

.form-default :where(.form-columns-2,
.form-columns-3) {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
}

.form-default :is(fieldset.form-columns-2, fieldset.form-columns-3) > div.hs-form-field {
  float: none;
  width: auto;
  flex-grow: 1;
  flex-basis: 0;
}

@media (max-width: 991.98px) {
  .form-default :is(fieldset.form-columns-2, fieldset.form-columns-3) > div.hs-form-field {
    flex-basis: auto;
  }
}

.form-default .hs-form-field label {
  color: var(--_form-label-color);
  margin-bottom: 0.4rem;
  display: block;
}

.form-default .hs-form-field .hs-field-desc {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  font-size: 0.875em;
  color: var(--_form-help-text-color);
  width: 100%;
}

.form-default label .hs-form-required {
  color: var(--_form-error-color);
  margin-left: 2px;
}

.form-default div.hs-form-field div.input {
  margin-right: 0;
}

.form-default div.hs-form-field .input .hs-input:where(:not(input[type="checkbox"], input[type="radio"])),
.form-default.password-prompt-module input[type="password"] {
  display: block;
  width: 100%;
  padding: 0.375rem 0.5rem;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-default div.hs-form-field .input select.hs-input {
  padding: 0.5rem;
}

@media (prefers-reduced-motion: reduce) {
  .form-default div.hs-form-field .input .hs-input:where(:not(input[type="checkbox"], input[type="radio"])) {
    transition: none;
  }
}

.form-default div.hs-form-field .input .hs-input.error:where(:not(input[type="checkbox"], input[type="radio"])) {
  border-color: var(--_form-error-color);
}

.form-default div.hs-form-field .input .hs-input:where(:not(input[type="checkbox"], input[type="radio"])):focus,
.form-default.password-prompt-module input[type="password"]:focus {
  border-color: {{theme.global_colors.advanced.focus.color}};
  outline: 0;
  box-shadow: 0 0 0 0.25rem {{rgb(theme.global_colors.advanced.focus.color, 30)}};
}

.form-default .inputs-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.form-default .hs-error-msgs .hs-error-msg {
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: var(--_form-error-color);
}

.form-default div.hs-form-field input.hs-input::placeholder {
  color: var(--_form-placeholder-color);
}

.form-default .inputs-list :is(.hs-form-checkbox-display,
.hs-form-booleancheckbox-display,
.hs-form-radio-display) {
  display: flex;
  gap: 0.4rem;
  margin-bottom: 0.8rem;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
}

.form-default .inputs-list :is(.hs-form-checkbox-display,
.hs-form-booleancheckbox-display,
.hs-form-radio-display) :is(input[type="radio"], input[type="checkbox"]) {
  width: 1.2em;
  height: 1.2em;
  float: none;
}

.form-default .inputs-list :is(.hs-form-checkbox-display,
.hs-form-booleancheckbox-display,
.hs-form-radio-display) > span {
  margin: 0;
}

.form-default input[type="file"]:not(:disabled) {
  cursor: pointer;
}

.form-default div.hs-form-field .input input[type="file"] {
  overflow: hidden;
  padding: 0;
}

.form-default input[type="submit"] {
  margin-top: 1rem;
}
