<!--
  templateType: page
  isAvailableForNewContent: true
  enableDomainStylesheets: false
  label: Home
  screenshotPath: ../images/template-previews/home.jpg
-->
{% extends "./layouts/base.html" %}

{% block body %}

  {% dnd_area 'dnd_area'
    label='Home template',
    class='home-template'
  %}

    {% include_dnd_partial path='../sections/home-page-banner.html' context={} %}
    {% include_dnd_partial path='../sections/general-brand-text.html' context={} %}
    {% include_dnd_partial path='../sections/general-features-in-3columns.html' context={} %}

    {% dnd_section
      padding={
        "default" : {
          "bottom" : "0px",
          "top" : "0px"
        }
      },
      margin={
        "default" : {
          "top" : "-40px"
        },
        "mobile" : {
          "top" : "-20px"
        }
      },
      full_width=true
    %}
      {% dnd_column
        offset=0,
        width=12,
        padding={
          "default" : {
            "left" : "0px",
            "right" : "0px"
          }
        }
      %}
        {% dnd_row %}
          {% dnd_module
            path="../modules/svg-divider",
            offset=0,
            width=12,
            divider="wave_left_cover_bottom",
            style={
              "background" : {
                "color" : {
                  "color" : "#FFFFFF",
                  "opacity" : 100
                }
              }
            }
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}

    {% include_dnd_partial path='../sections/product-in-numbers.html' context={} %}
    {% include_dnd_partial path='../sections/card-with-image-in-3rows.html' context={} %}
    {% include_dnd_partial path='../sections/quote.html' context={} %}
    {% include_dnd_partial path='../sections/latest-insights.html' context={} %}

    {% dnd_section
      padding={
        "default" : {
          "bottom" : "0px",
          "top" : "0px"
        }
      },
      margin={
        "default" : {
          "top" : "-40px"
        },
        "mobile" : {
          "top" : "-20px"
        }
      },
      full_width=true
    %}
      {% dnd_column
        offset=0,
        width=12,
        padding={
          "default" : {
            "left" : "0px",
            "right" : "0px"
          }
        }
      %}
        {% dnd_row %}
          {% dnd_module
            path="../modules/svg-divider",
            offset=0,
            width=12,
            divider="wave_right_cover_bottom",
            style={
              "background" : {
                "color" : {
                  "color" : "#FFFFFF",
                  "opacity" : 100
                }
              }
            }
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}

    {% include_dnd_partial path='../sections/request-demo.html' context={} %}

  {% end_dnd_area %}

{% endblock body %}
