/* module css / no hubl variables */

.heroimage-module {
  position: relative;
}

.heroimage-module__caption-position {
  z-index: 2;
}

.heroimage-module__image_wrp {
  z-index: 1;
}

.heroimage-module__image {
  display: flex;
  height: 100%;
}

.heroimage-module__caption_wrp {
  height: 100%;
}

.heroimage-module__caption-section {
  width: 100%;
  display: flex;
  min-height: 100%;
}
